<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>height</key>
				<integer>55</integer>
				<key>image</key>
				<string>0_mine</string>
				<key>title</key>
				<string>在线客服</string>
				<key>detailText</key>
				<string></string>
				<key>hasAttributeDetail</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>switchStatus</key>
				<false/>
				<key>switchActionName</key>
				<string></string>
				<key>hasRightArrow</key>
				<true/>
				<key>selectActionName</key>
				<string>goHomeAction</string>
			</dict>
			<dict>
				<key>height</key>
				<integer>55</integer>
				<key>image</key>
				<string>1_mine</string>
				<key>title</key>
				<string>收货地址</string>
				<key>detailText</key>
				<string></string>
				<key>hasAttributeDetail</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>switchStatus</key>
				<false/>
				<key>switchActionName</key>
				<string></string>
				<key>hasRightArrow</key>
				<true/>
				<key>selectActionName</key>
				<string></string>
			</dict>
			<dict>
				<key>height</key>
				<integer>55</integer>
				<key>image</key>
				<string>3_mine</string>
				<key>title</key>
				<string>版本升级</string>
				<key>detailText</key>
				<string></string>
				<key>hasAttributeDetail</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>switchStatus</key>
				<false/>
				<key>switchActionName</key>
				<string></string>
				<key>hasRightArrow</key>
				<true/>
				<key>selectActionName</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>height</key>
				<integer>55</integer>
				<key>image</key>
				<string>5_mine</string>
				<key>title</key>
				<string>消息中心</string>
				<key>detailText</key>
				<string></string>
				<key>hasAttributeDetail</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>switchStatus</key>
				<false/>
				<key>switchActionName</key>
				<string></string>
				<key>hasRightArrow</key>
				<true/>
				<key>selectActionName</key>
				<string>goMessageCenterAction</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>height</key>
				<integer>55</integer>
				<key>image</key>
				<string>6_mine</string>
				<key>title</key>
				<string>我的收藏</string>
				<key>detailText</key>
				<string></string>
				<key>hasAttributeDetail</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>switchStatus</key>
				<false/>
				<key>switchActionName</key>
				<string></string>
				<key>hasRightArrow</key>
				<true/>
				<key>selectActionName</key>
				<string>goCollectionAction</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>height</key>
				<integer>55</integer>
				<key>image</key>
				<string>13_mine</string>
				<key>title</key>
				<string>绑定管理</string>
				<key>detailText</key>
				<string></string>
				<key>hasAttributeDetail</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>switchStatus</key>
				<false/>
				<key>switchActionName</key>
				<string></string>
				<key>hasRightArrow</key>
				<true/>
				<key>selectActionName</key>
				<string>goBindingAction</string>
			</dict>
			<dict>
				<key>height</key>
				<integer>55</integer>
				<key>image</key>
				<string>14_mine</string>
				<key>title</key>
				<string>帮助中心</string>
				<key>detailText</key>
				<string></string>
				<key>hasAttributeDetail</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>switchStatus</key>
				<false/>
				<key>switchActionName</key>
				<string></string>
				<key>hasRightArrow</key>
				<true/>
				<key>selectActionName</key>
				<string>goHelpAction</string>
			</dict>
			<dict>
				<key>height</key>
				<integer>55</integer>
				<key>image</key>
				<string>15_mine</string>
				<key>title</key>
				<string>注销账号</string>
				<key>detailText</key>
				<string></string>
				<key>hasAttributeDetail</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>switchStatus</key>
				<false/>
				<key>switchActionName</key>
				<string></string>
				<key>hasRightArrow</key>
				<true/>
				<key>selectActionName</key>
				<string>goShareAction</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>height</key>
				<integer>55</integer>
				<key>image</key>
				<string></string>
				<key>title</key>
				<string>退出账号</string>
				<key>detailText</key>
				<string></string>
				<key>hasAttributeDetail</key>
				<false/>
				<key>hasSwitch</key>
				<false/>
				<key>switchStatus</key>
				<false/>
				<key>switchActionName</key>
				<string></string>
				<key>hasRightArrow</key>
				<false/>
				<key>selectActionName</key>
				<string>logoutAction</string>
				<key>custom</key>
				<true/>
				<key>customReuseID</key>
				<string>logoutID</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
